.icon-arrow {
  width: 1.14em;
  height: 1em;
  fill: #F7F7F7;
}
.icon-button_submit {
  width: 1em;
  height: 1em;
  fill: #00B0FF;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-fb {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-fb_like {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-fb_logo {
  width: 4.46em;
  height: 1em;
  fill: #FFF;
}
.icon-fb_share {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-footer_mail {
  width: 1.45em;
  height: 1em;
  fill: #4D4D4D;
}
.icon-header_mail {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-inst {
  width: 1em;
  height: 1em;
  fill: #F2F2F2;
}
.icon-instBlue {
  width: 1em;
  height: 1em;
  fill: #00B0FF;
}
.icon-logo {
  width: 6.44em;
  height: 1em;
  fill: initial;
}
.icon-mark {
  width: 0.79em;
  height: 1em;
  fill: initial;
}
.icon-play {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-star {
  width: 1em;
  height: 1em;
  fill: #F2D800;
}
.icon-star_empty {
  width: 1em;
  height: 1em;
  fill: #787878;
}
.icon-waves-yellow {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-waves {
  width: 5.17em;
  height: 1em;
  fill: initial;
}
.icon-X {
  width: 1em;
  height: 1em;
  fill: initial;
}
